@charset "utf-8";

/* ---------------------------------- */
/* コード (<### class="code">         */
/* XAML   (<### class="xaml">         */
/* ---------------------------------- */
.code, .xaml {
  white-space:          pre;
  font-family:          monospace;
  line-height:          1.2;
  background-color:     #EEEEEE;
  margin:               6px 10em 6px 0;
}

span.code, div.code, p.code, div.xaml, p.xaml {
  border-style:         solid;
  border-width:         1px;
  border-color:         #996666;
}

div.code, p.code, div.xaml, p.xaml {
  padding:              0 1em 1.3em 1em;
}

span.code {
  margin:               3px;
  padding:              0 3px;
}
  
/* キーワード (<keyword>、<kwd>) */
.code keyword, .code kwd {
  color:                #0000FF;
}
  
/* 既知のクラス (<known>、<knw>) */
.code known, .code knw {
  color:                #20B0D0;
}

/* コメント (<comment>、<cmt>) */
.code comment, .code cmt, .xaml comment, .xaml cmt {
  color:                #009000;
}

/* リテラル (<literal>、<ltr>) */
.code literal, .code ltr {
  color:                #990000;
}
