/* ---------------------------------- */
/* Style001.css                       */
/* メイン スタイルシート              */
/* ---------------------------------- */
/* 全HTMLはこのCSSを参照し、          */
/* 子CSSを直接参照しない              */
/* ---------------------------------- */
@charset "utf-8";
@import url("Code.css");
@import url("Color_Background.css");
@import url("Color_Font.css");
@import url("FontSize.css");
@import url("Link.css");
@import url("List.css");
@import url("Table_Border.css");

/* ---------------------------------- */
/* 本体                               */
/* ---------------------------------- */
body {
  background:           #FFFFFF;
  margin-left:          70px;
  margin-right:         20px;
}

/* ---------------------------------- */
/* 強調                               */
/* ---------------------------------- */
/* ボールド (<#### class="b">, <b>, <#### class="strong">, <strong>) */
.b, b, .strong, strong {
  font-weight:          bold;
}

/* イタリック (<#### class="i">, <i>, <#### class="em">, <em>) */
.i, i, .em, em {
  font-style:           italic;
  padding-left:         -1px;
  padding-right:        3px;
}

/* 下線 (<#### class="u">, <u>) */
.u, u {
  text-decoration-line: underline;
}
  
/* 取り消し線 (<#### class="s">, <s>, <#### class="del">, <del>) */
.s, s, .del, del {
  text-decoration-line: line-through;
}

/* ---------------------------------- */
/* 見出し                             */
/* ---------------------------------- */
h1 {
  font-size:            190%;
  font-weight:          bold;
  color:                #FFFFFF;
  letter-spacing:       0.17em;
  margin-top:           30px;
  margin-bottom:        20px;
  margin-left:          -50px;
  padding:              10px 8px;
  background-color:     #CC9999;
}

h2 {
  font-size:            160%;
  font-weight:          bold;
  margin-top:           30px;
  margin-bottom:        10px;
  margin-left:          -50px;
  border-bottom-style:  double;
  border-bottom-width:  6px;
  border-bottom-color:  #CC9999;
}

h3 {
  font-size:            145%;
  font-weight:          bold;
  margin-top:           24px;
  margin-bottom:        8px;
  margin-left:          -35px;
  border-bottom-style:  solid;
  border-bottom-width:  4px;
  border-bottom-color:  #CC9999;
}

h4 {
  font-size:            130%;
  font-weight:          bold;
  margin-top:           18px;
  margin-bottom:        6px;
  margin-left:          -20px;
  border-bottom-style:  solid;
  border-bottom-width:  2px;
  border-bottom-color:  #CC9999;
}

h5 {
  font-size:            115%;
  font-weight:          bold;
  margin-top:           12px;
  margin-bottom:        4px;
  margin-left:          -10px;
}

/* ---------------------------------- */
/* 横罫線                             */
/* ---------------------------------- */
hr {
  margin-top:           20px;
  margin-bottom:        20px;
  margin-left:          -50px;
  color:                #CC9999;
}

/* ---------------------------------- */
/* 回り込み                            */
/* ---------------------------------- */
/* 左 (<#### class="f_l">) */
.f_l {
  float:                left;
  margin-right:         3em;
}

/* 右 (<#### class="f_r">) */
.f_r {
  float:                right;
  margin-left:          3em;
}

/* 解除 (<#### class="f_c">) */
.f_c {
  clear:                both;  
}

/* ---------------------------------- */
/* 画像                               */
/* ---------------------------------- */
img {
  margin:               10px;
}

/* ---------------------------------- */
/* 文字配置 */
/* ---------------------------------- */
/* 左揃え (<#### class="left">) */
.left {
  text-align:           left;
}

/* 左右中央揃え (<#### class="center">) */
.center {
  text-align:           center;
}

/* 右揃え (<#### class="right">) */
.right {
  text-align:           right;
}

/* 上揃え (<#### class="top">) */
.top {
  vertical-align:       text-top;
}

/* 上下中央揃え (<#### class="middle">) */
.middle {
  vertical-align:       middle;
}

/* 下揃え (<#### class="bottom">) */
.bottom {
  vertical-align:       text-bottom;
}

/* 両端揃え (<#### class="justify">) */
.justify {
  text-align-last:      justify;
  text-justify:         inter-ideograph;  /* for MS-Edge */
}

/* ---------------------------------- */
/* 目次(<div id="toc">)               */
/* ---------------------------------- */
div#toc ul
{
  margin-top:           0px;
  margin-bottom:        0px;
}
